.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
}

.App-header {
  background-color: #FFFFFF;
  min-height: 120vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 10vmin);
  color: black;
}

.App-link {
  color: #000000;
}


